body
{
  margin: 0px;
  padding: 0;
  display: flex;
  flex-direction: column;

}
/* Подключение шрифтов */
@font-face {
  font-family: 'Nunito ExtraBold';
  src: url("/static/fonts/Nunito-ExtraBold.woff2") format('woff2'),
       url("/static/fonts/Nunito-ExtraBold.woff") format('woff');
}

@font-face {
  font-family: 'Nunito Light';
  src: url("/static/fonts/Nunito-Light.woff2") format('woff2'),
       url("/static/fonts/Nunito-Light.woff") format('woff');
}

@font-face {
  font-family: 'Nunito Bold';
  src: url("/static/fonts/Nunito-Bold.woff2") format('woff2'),
       url("/static/fonts/Nunito-Bold.woff") format('woff');
}

/* Остальные стили элементов */


.container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back
{
  margin-top: 50px;
  margin-left: 50px;
}



@media screen and (max-height: 720px) and (max-width: 360px) {
  .center-container img {
      max-width: 90%; /* Увеличьте размер изображения для мобильных устройств */
  }
}


.navigation {
  background-color: rgba(43, 198, 160, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 20px; /* Закругление верхнего левого угла */
  border-top-right-radius: 20px;  position: fixed;
  bottom: 0px; /* Отступ от нижнего края */
  left: 0;
  right: 0;
  height: 8%;
}

.buts
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#title
{
  color: rgba(43, 198, 160, 1);
  font-size: 80px;
  padding-top: 58px; 
  padding-left: 58px;
  font-family: 'Nunito ExtraBold';
}





input[type="image"] {
  width: 8%;
  height: 8%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

button[type="button"] 
{
  background-color: transparent; 
  border: none; 
  cursor: pointer;
}



.card-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;

}

.card1 {
  width: 900px;
  background-color: rgba(89, 197, 235);
  color: rgb(255, 255, 255);
  font-family: 'Nunito ExtraBold';
  padding-top: 20px;
  margin: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  animation-duration: 0.5s;
  border-radius: 50px;
}



.buttons 
{
  padding: 75px;
  justify-content: center;
  align-items: center;

}
.card-stack img {
  width: 200px; /* Установите желаемую ширину */
  height: 200px; /* Установите желаемую высоту */
  display: block; /* Помещаем изображение под текстом */
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 30px;

}

#card-title
{
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: 'Nunito ExtraBold'; 
  display: flex;
  justify-content: left;
  margin-left: 30px;

}
.card-details 
{
  display: flex; 
  flex-direction: row; 
}
.card-details-text
{
  margin-top: 40px;
  display: flex; 
  flex-direction: column; 

}
.text-card-details
{
  font-family: 'Nunito Bold';
  padding-left: 10px;
  font-size:40px;
}
