<!DOCTYPE html>
<html>
<head>
  <title>Навигационная панель с иконками</title>
  <link type="text/css" href="{{ url_for('static', filename='css/styleMain.css') }}" rel="stylesheet">
</head>
<body>
      <div class="maincontent">
        <div class="title">Календарь планирования</div>
      </div>
      <footer class="navigation">
        <div class="buts">
          <input type="image" id = "nav_but" src="{{ url_for('static', filename='img/products.png') }}" onclick="window.location.href='http://127.0.0.1:5000/products'">
          <input type="image" id = "nav_but" src="{{ url_for('static', filename='img/main.png') }}" onclick="window.location.href='http://127.0.0.1:5000/main'">
          <input type="image" id = "nav_but" src="{{ url_for('static', filename='img/calendar_act.png') }}" onclick="window.location.href='http://127.0.0.1:5000/calendar'">
          <input type="image" id = "nav_but" src="{{ url_for('static', filename='img/etc.png') }}" onclick="window.location.href='http://127.0.0.1:5000/etc'">
        </div>
      </footer>
      <div class="cardStack">
        <a id="breakfastLink" class="card" href="http://127.0.0.1:5000/breakfast" onclick="showDishDescription(event)">
          {% if df is not none and not df.empty %}
            <div class="selected-dish-card">{{ df["Dish Name"].iloc[0] }}</div>
          {% else %}
            Нажмите, чтобы выбрать завтрак
          {% endif %}
        </a>

        <a href = "http://127.0.0.1:5000/lunch" class="card">Нажмите, чтобы выбрать обед</a>
        <a href = "http://127.0.0.1:5000/dinner" class="card">Нажмите, чтобы выбрать ужин</a>

        
      </div>
      <div id="recipeModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeRecipeModal()">      
              <img src="{{ url_for('static', filename='img/arrback.png') }}">
            </span>
            {% if df is not none and not df.empty %}
              <img src="{{ df["Image main"].iloc[0] }}">
              <h2>{{ df["Dish Name"].iloc[0] }}</h2>
              <h2>Ингридиенты:</h2>
              <p>{{ df["Ingredients"].iloc[0] }}</p>
              <h2>Рецепт:</h2>
              <p>{{ split_text_to_lines(df["Recipe"].iloc[0]) | safe  }}</p>
              <h2>Калории:</h2>
              <p>{{ df["Calories"].iloc[0] }}</p>
            {% endif %}

        </div>
    </div>
      <script>
      function showDishDescription(event) {
        var target = event.target;

        // Проверяем, содержит ли элемент класс "selected-dish-card"
        if (target.classList.contains('selected-dish-card')) {
          // Открываем модальное окно
          var modal = document.getElementById('recipeModal');
          modal.style.display = 'block';

          window.onclick = function (event) {
            if (event.target === modal) {
              modal.style.display = 'none';
            }
          }

          // Предотвращаем переход по ссылке
          event.preventDefault();
        }
      }
      function closeRecipeModal() {
        var modal = document.getElementById('recipeModal');
        modal.style.display = 'none';
      }


      </script>
    </body>
</html>