<!DOCTYPE html>
<html>
<head>
  <title>Навигационная панель с иконками</title>
  <link type="text/css" href="{{ url_for('static', filename='css/styleMain.css') }}" rel="stylesheet">
</head>
<body>
  <div class="maincontent">
    <div class="title">Главная</div>
  </div>
  <footer class="navigation">
    <div class="buts">
      <input type="image" id = "nav_but" src="{{ url_for('static', filename='img/products.png') }}" onclick="window.location.href='http://127.0.0.1:5000/products'">
      <input type="image" id = "nav_but" src="{{ url_for('static', filename='img/main_act.png') }}" onclick="window.location.href='http://127.0.0.1:5000/main'">
      <input type="image" id = "nav_but" src="{{ url_for('static', filename='img/calendar.png') }}" onclick="window.location.href='http://127.0.0.1:5000/calendar'">
      <input type="image" id = "nav_but" src="{{ url_for('static', filename='img/etc.png') }}" onclick="window.location.href='http://127.0.0.1:5000/etc'">
    </div>
  </footer>
  <div class="cardStack">
    <div class ="card light_blue">Ваша суточная норма калорий: {{user.daily_cal}} ккал</div>
    <div class ="card dark_blue">{{user.daily_cal}}</div>
  </div>
  </body>
</html>